@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
:root{
    --font-family-1: 'Big Shoulders Display', cursive;
    --font-family-2: 'Lexend Deca', sans-serif;

    --bright-orange:hsl(31, 77%, 52%);
    --dark-cyan:hsl(184, 100%, 22%);
    --very-dark-cyan:hsl(179,100%,13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75); /* (paragraphs)*/
    --very-light-gray : hsl(0, 0%, 95%); /*(background, headings, buttons)*/
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    background-color: var(--very-light-gray);
}
.container{
    display:flex;
    width: 100%;
    max-width: 60%;
    margin:5% auto;
    
}
.card{
    width:100%;
    max-width: 310px;

}
.sedans{
    
    background-color: var(--bright-orange);
    border-radius: 10px 0 0 10px;
}

.suvs{
    
    background-color: var(--dark-cyan);

}
.luxury{
    
    background-color: var(--very-dark-cyan);
    border-radius: 0 10px 10px 0;
}

h1{
    color:var(--very-light-gray);
    text-transform: uppercase;
    font-family: var(--font-family-1);
}
p{
    font-size:15px;
    color:var(--transparent-white);
    font-family: var(--font-family-2);
}

.car-logo{
    margin:2rem ;

}
.information h1{
    margin: 0 2rem 1rem;
}
.information p{
    margin:1rem 2rem 5rem 2rem;

}
.information a{
    text-decoration: none;
    display:block;
    margin:2rem 2rem 3rem;
    background-color: var(--very-light-gray);
    width: 45%;
    color:#000;
    text-align: center;
    padding: 1rem 0.5rem;
    border-radius: 100px;
}
.information a:hover{
    background-color:transparent;
    color:var(--transparent-white);
    border:2px solid #fff;
    transition: 400ms ease;
}
.sedans a{
    color:var(--bright-orange);
}
.suvs a{
    color:var(--dark-cyan);
}
.luxury a{
    color: var(--very-dark-cyan);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (min-width: 768px){
    .container {
        display: flex;
        max-width: 70%;
        margin:5% auto;
    }
}
@media only screen and (max-width:500px) {
    .container{
        display:flex;
        flex-direction: column;

    }
    .sedans{
        border-radius: 10px 10px 0 0;
    }
    .luxury{
        border-radius: 0 0 10px 10px;
    }
    .information a{
        width: 50%;
        

    }
}